body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkturquoise;
}
/*Centraliza o site*/
.container {
  width: 95%;
  margin: auto;
}
.nomedaempresa {
  display: flex;
  text-align: center;
  margin-left: 10px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 35%;
  width: 100px;
}
/*Cabeçalho*/
header {
  display: flex;
  background-color: bisque;
  color: black;
  border-style: double;
  margin-bottom: 15px;
  margin-top: 15px;
}

.conteudo {
  display: flex; /*Ativa o flexbox*/
}

nav {
  width: 25%;
  background-color: blanchedalmond;
  border-style: double;
  margin-right: 10px;
  text-align: center;
}
li {
  text-align: justify;
}

main {
  width: 90%;
  background-color: blanchedalmond;
  border-style: double;
  display: flex;
}

footer {
  width: auto;
  background-color: blanchedalmond;
  border-style: double;
  margin-top: 10px;
  display: flex;
}

header,
nav,
main,
footer,
section,
aside {
  padding: 20px;
  border-radius: 15px;
}

section {
  background-color: cornflowerblue;
  padding: 10px;
  width: 80%;
  border-style: solid;
}

aside {
  background-color: cornflowerblue;
  padding: 10px;
  width: 20%;
  border-style: solid;
  margin-left: 20px;
}

header .logo img {
  width: 90%;
}

.a-direita {
  text-align: justify;
  text-indent: -7%;
}

.pag-ini,
.gal,
.sob {
  margin-left: 170px;
}

.ajuste {
  width: 10%;
}
