@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Fjalla+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*
 1. font-family: "Edu AU VIC WA NT Guides", cursive;
 2. font-family: "Dancing Script", cursive;
 3. font-family: "Fjalla One", sans-serif;
 4. font-family: "Lora", serif;
 5. font-family: "Bitcount Prop Double Ink", system-ui;
*/

/*@import url('https://fonts.googleapis.com/css2?family=Delius&family=Jacquard+24&family=Pacifico&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Honk:MORF@15&family=Jacquard+24&family=Pacifico&display=swap');

/*
 1. font-family: "Pacifico", cursive;
 2. font-family: "Delius", cursive;
 3. font-family: "Jacquard 24", system-ui;
 4. font-family: "Honk", system-ui;
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #726EEB;
}

/*Centraliza o site*/
.container {
  width: 80%;
  margin: auto;
}

.nomedaempresa {
  display: flex;
  text-align: center;
  margin-left: 10px;
  font-family: "Pacifico", cursive;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 35%;
  width: 100px;
}

/*Cabeçalho*/
header {
  display: flex;
  background-color: #ffebcd;
  color: #000;
  border-style: double;
  margin-bottom: 15px;
  margin-top: 15px;
}

.conteudo {
  display: flex;
  /*Ativa o flexbox*/
}

nav {
  border-radius: 15px;
  flex: 1;
  background-color: #ffebcd;
  border-style: double;
  margin-right: 10px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

li {
  text-align: justify;
}

main {
  flex: 5;
  background-color: blanchedalmond;
  border-style: double;
  display: flex;
  font-family: "Edu AU VIC WA NT Guides", cursive;
}

footer {
  width: auto;
  background-color: blanchedalmond;
  border-style: double;
  text-align: center;
  margin-top: 10px;
  font-family: "Jacquard 24", system-ui;
}

header,
main,
footer,
section,
aside {
  padding: 20px;
  border-radius: 15px;
}

section {
  background-color: cornflowerblue;
  padding: 10px;
  width: 80%;
  border-style: solid;
  flex: 3;
}

aside {
  background-color: cornflowerblue;
  padding: 10px;
  width: 20%;
  border-style: solid;
  margin-left: 20px;
  flex: 1;
}

header .logo img {
  width: 90%;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  border-bottom: 1px solid brown;
}

.menu-lateral a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu-lateral a:hover {
  background-color: #AC23EB80;
}


table {
border-collapse: collapse;
width: 100%;
}
td, th {
  border: 1px solid black;
}
tbody {
  background-color: #726EEB;
  text-align: center;
}
tfoot {
  background-color: #726EEB;
  text-align: center;
  color: aliceblue;
}
thead {
  background-color: #726EEB;
}
thead, th {
padding: 5px;
}
.info {
  color:black;
}
td {
  padding: 5px;
}
